# dependencies
node_modules/

# env files (strict)
.env
.env.*
**/.env
**/.env.*

# build outputs
dist/
build/
Client/dist/
Server/dist/

# logs
*.log
logs/

# OS / system
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# misc
coverage/
.cache/
*.local